# Virtual environments
.venv/
venv/

# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Local editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# moje, jakies wyniki itp
lab5/wyniki1/*
!lab5/wyniki1/.gitkeep
lab5/wyniki2/*
!lab5/wyniki2/.gitkeep
